# =========================
# Visual Studio
# =========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
Debug/
Release/
x64/
x86/

# =========================
# .NET Core
# =========================
project.lock.json
project.fragment.lock.json
artifacts/

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Local.json

# =========================
# Docker
# =========================
.env
docker-compose.override.yml

# =========================
# Logs
# =========================
*.log

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Rider / VS Code
# =========================
.idea/
.vscode/

# =========================
# EF Core
# =========================
*.db
*.db-shm
*.db-wal
/github_deploy_key
/github_deploy_key.pub
