- name: Deploy via SSH
  uses: appleboy/ssh-action@v0.1.8
  with:
    host: ${{ secrets.SERVER_IP }}
    username: ${{ secrets.SERVER_USER }}
    key: ${{ secrets.SERVER_SSH_KEY }}
    port: 22
    script: |
      cd /root/HelpEmpowerment
      git reset --hard
      git pull origin master
      docker compose down
      docker compose up -d --build
